.times-new-roman {font-family: Times New Roman", Times, serif;}
.arial {font-family: Arial, Helvetica, sans-serif;}
.lucida-console {font-family: "Lucida Console", "Courier New", monospace;} 
.serif {font-family: serif;} 
.sans-serif {font-family: sans-serif;} 
.monospace {font-family: monospace;} 
.cursive {font-family: cursive;} 
.fantasy {font-family: fantasy;}
.source-sans-pro {font-family: "Source Sans Pro", "Arial", sans-serif;}
 
