.fixed-top {
 left: 0;
 position: fixed;
 top: 0;
 width: 100%
} 

.fixed-bottom {
 left: 0;
 position: fixed;
 bottom: 0;
 width: 100%
} 

.static-top {
 left: 0;
 position: static;
 top: 0;
 width: 100%
} 

.static-bottom {
 left: 0;
 position: static;
 bottom: 0;
 width: 100%
} 
 

.absolute-top {
 left: 0;
 position: absolute;
 top: 0;
 width: 100%
} 

.absolute-bottom {
 left: 0;
 position: absolute;
 bottom: 0;
 width: 100%
} 
 
.sticky-top {
 left: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
 top: 0;
 width: 100%
} 

.sticky-bottom {
 left: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
 bottom: 0;
 width: 100%
} 
 
.relative-top {
 left: 0;
 position: relative;
 top: 0;
 width: 100%
} 

.relative-bottom {
 left: 0;
 position: relative;
 bottom: 0;
 width: 100%
}  
