.overline {text-decoration-line: overline;}

.line-through {text-decoration-line: line-through;}

.underline {text-decoration-line: underline;}

.none-text-decoration {text-decoration-line: none;}

.text-decoration-wavy {text-decoration-style: wavy;}
.text-decoration-dashed {text-decoration-style: dashed;}
.text-decoration-solid {text-decoration-style: solid;}
.text-decoration-double {text-decoration-style: double;}
.text-decoration-dotted {text-decoration-style: dotted;}


.decoration-color-black{text-decoration-color:black}
.decoration-color-silver{text-decoration-color:silver}
.decoration-color-gray{text-decoration-color:gray}
.decoration-color-white{text-decoration-color:white}
.decoration-color-maroon{text-decoration-color:maroon}
.decoration-color-red{text-decoration-color:red}
.decoration-color-purple{text-decoration-color:purple}
.decoration-color-fuchsia{text-decoration-color:fuchsia}
.decoration-color-green{text-decoration-color:green}
.decoration-color-lime{text-decoration-color:lime}
.decoration-color-olive{text-decoration-color:olive}
.decoration-color-yellow{text-decoration-color:yellow}
.decoration-color-navy{text-decoration-color:navy}
.decoration-color-blue{text-decoration-color:blue}
.decoration-color-teal{text-decoration-color:teal}
.decoration-color-aqua{text-decoration-color:aqua}
.decoration-color-aliceblue{text-decoration-color:aliceblue}
.decoration-color-antiquewhite{text-decoration-color:antiquewhite}
.decoration-color-azure{text-decoration-color:azure}
.decoration-color-beige{text-decoration-color:beige}
.decoration-color-bisque{text-decoration-color:bisque}
.decoration-color-blanchedalmond{text-decoration-color:blanchedalmond}
.decoration-color-blueviolet{text-decoration-color:blueviolet}
.decoration-color-brown{text-decoration-color:brown}
.decoration-color-burlywood{text-decoration-color:burlywood}
.decoration-color-cadetblue{text-decoration-color:cadetblue}
.decoration-color-chartreuse{text-decoration-color:chartreuse}
.decoration-color-chocolate{text-decoration-color:chocolate}
.decoration-color-coral{text-decoration-color:coral}
.decoration-color-cornflowerblue{text-decoration-color:cornflowerblue}
.decoration-color-cornsilk{text-decoration-color:cornsilk}
.decoration-color-crimson{text-decoration-color:crimson}
.decoration-color-cyan{text-decoration-color:cyan}
.decoration-color-darkblue{text-decoration-color:darkblue}
.decoration-color-darkcyan{text-decoration-color:darkcyan}
.decoration-color-darkgoldenrod{text-decoration-color:darkgoldenrod}
.decoration-color-darkgray{text-decoration-color:darkgray}
.decoration-color-darkgreen{text-decoration-color:darkgreen}
.decoration-color-darkgrey{text-decoration-color:darkgrey}
.decoration-color-darkkhaki{text-decoration-color:darkkhaki}
.decoration-color-darkolivegreen{text-decoration-color:darkolivegreen}
.decoration-color-darkorange{text-decoration-color:darkorange}
.decoration-color-orange{text-decoration-color:orange}
.decoration-color-darkorchid{text-decoration-color:darkorchid}
.decoration-color-darkred{text-decoration-color:darkred}
.decoration-color-darksalmon{text-decoration-color:darksalmon}
.decoration-color-darkseagreen{text-decoration-color:darkseagreen}
.decoration-color-darkslateblue{text-decoration-color:darkslateblue}
.decoration-color-darkslategrey{text-decoration-color:darkslategrey}
.decoration-color-darkturquoise{text-decoration-color:darkturquoise}
.decoration-color-darkviolet{text-decoration-color:darkviolet}
.decoration-color-deeppink{text-decoration-color:deeppink}
.decoration-color-deepskyblue{text-decoration-color:deepskyblue}
.decoration-color-dimgrey{text-decoration-color:dimgrey}
.decoration-color-dodgerblue{text-decoration-color:dodgerblue}
.decoration-color-firebrick{text-decoration-color:firebrick}
.decoration-color-floralwhite{text-decoration-color:floralwhite}
.decoration-color-forestgreen{text-decoration-color:forestgreen}
.decoration-color-fuchsia{text-decoration-color:fuchsia}
.decoration-color-gainsboro{text-decoration-color:gainsboro}
.decoration-color-ghostwhite{text-decoration-color:ghostwhite}
.decoration-color-gold{text-decoration-color:gold}
.decoration-color-goldenrod{text-decoration-color:goldenrod}
.decoration-color-greenyellow{text-decoration-color:greenyellow}
.decoration-color-honeydew{text-decoration-color:honeydew}
.decoration-color-hotpink{text-decoration-color:hotpink}
.decoration-color-indianred{text-decoration-color:indianred} 

